# Byte-compiled / optimized / DLL files



__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject
lsdcenv/
lsdcenv_r12
**/.idea/**

data/
src/3rdparty
experiments/lsdc_exp/data_files
experiments/cem_exp/data_files/
modeldata/
modeldata_olddata/
train/
test/
train
test

old/

#gif files
*.gif

videos/
videos_distrib/
compare_graphs/
verbose/

query_images/
goalimage_var_ballpos

results

MUJOCO_LOG.TXT
goalimage/
tfrecords/
desig_pix_img/
pkl/

lsdcdenv1.1/
fail/

splitted/

exp/
multobj_confs/
longdistance/
devel/
cdna_accum_tf_factorized_dependent_mask_lstm_ln_5firstframes_l2/
