<launch>
     <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch"/>
     <node pkg="visual_mpc_rospkg" type="send_urdf_fragment.py" name="send_urdf_fragment"/>
     <node pkg="visual_mpc_rospkg" type="joint_space_impedance.py" name="joint_space_impedance" launch-prefix="xterm -e"/>
     <!--<node pkg="visual_mpc_rospkg" type="primitives_regintervals.py" name="primitives_regintervals" launch-prefix="xterm -e">-->
          <!--<param name="robot" value="$(arg robot)"/>-->
          <!--<param name="savedir" value=""/>-->
     <!--</node>-->
     <!--<include file="$(find visual_mpc_rospkg)/launch/start_gripper_autoupdate_$(arg robot).launch"/>-->
</launch>
