<launch>
     <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch" launch-prefix="xterm -e"/>
     <node pkg="visual_mpc_rospkg" type="joint_space_impedance.py" name="joint_space_impedance" launch-prefix="xterm -e"/>
     <node pkg="visual_mpc_rospkg" type="visual_mpc_server.py" name="visual_mpc_server" launch-prefix="xterm -e">
          <param name="robot" value="$(arg exp)"/>
     </node>
     <node pkg="visual_mpc_rospkg" type="visual_mpc_client.py" name="visual_mpc_client" launch-prefix="xterm -e">
          <param name="exp" value="$(arg exp)"/>
          <param name="gui" value="$(arg gui)"/>
     </node>
     <include file="$(find visual_mpc_rospkg)/start_gripper_autoupdate_$(arg robot).launch" launch-prefix="xterm -e"/>
</launch>
